@model Presentation.Models.DepartmentViewModel

@{
    ViewData["Title"] = "Departments";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-outline-success">+ Create New Department</a>
<hr />

@if (Model?.Departments == null || !Model.Departments.Any())
{
    <p class="text-danger">No departments available!</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var dept in Model.Departments)
        {
            <tr>
                <td>@dept.Name</td>
                <td>@dept.Description</td>
                <td>
                   <div class="btn-group">
                            <a asp-action="Detail" asp-route-id="@dept.Id" class="btn btn-outline-primary btn-sm">Detail</a>
                            <a asp-action="Edit" asp-route-id="@dept.Id" class="btn btn-outline-secondary btn-sm">Edit</a>
                            <form asp-action="Delete" asp-route-id="@dept.Id" method="post" onsubmit="return confirm('Are you sure?');">
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}



