
<h1>Employee Detals </h1>
<div>
    <h3>@Model.FirstName</h3>
    <h3>@Model.LastName</h3>
    <h3>@Model.Email</h3>
    <h3>@Model.Department</h3>
     <h3>@Model.HireDate</h3>
    <p><strong>Salary:$</strong>@Model.Salary</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Back to Employee List</a>
